.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color:rgb(105, 178, 238);
}

.App{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo{
  background-color: #d3e8ee;
  display:relative;
  width: 250px;
  border-radius: 20px;
  min-height: 200px;

  
}

.list{
  background-color: #9fb8be91;
  border-radius: 10px;
  list-style: none;
  display: relative;
  width:auto;
  align-self: center;
  margin: 5px;
  padding: 8px;
  /* margin: 20px; */
 
}
.taskForm{
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
}
input{
  display: relative;
  width: fit-content;
}

.Title{
  display:relative;
}
#x{
  border-radius: 50px;
}
li{
text-align: left;
}
li , li span{
  display:flex;
justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
.list.done{
  decoration: line-through;
}